<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いの方は、【ＰＲ枠】のリンクは全て削除禁止です。
加工後の削除も禁止させていただいております。
絶対に削除しないでお使いください。
ご不明な点は、http://www.s-hoshino.com/info.html、または、
http://www.megapx.com/info.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<title>アクセスマップ　不動産・店舗用HTMLテンプレート no.005</title>
<meta name="Keywords" content="不動産,ショップ,店舗,キーワード01,キーワード02,キーワード03" />
<meta name="Description" content="アクセスマップ。不動産・店舗用HTMLテンプレート no.005。ここにページの説明文を入れます。" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jq_dim.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.core.js' %}"></script>
</head>
<body>
<!--base start-->
<div id="base">
  <!--head start-->
  <div id="head">
    <h1>不動産・店舗用HTMLテンプレート no.005</h1>
    <a href="index.html" title="不動産・店舗用HTMLテンプレート no.005　トップページへ"><img src="{% static 'img/logo.gif' %}" alt="不動産・店舗用HTMLテンプレート no.005　ロゴ" id="logo" /></a>
    <div id="info">お問い合わせ・ご相談はお気軽にどうぞ<br />
      <span>Tel.</span><strong>0120-123-456</strong></div>
    <ul id="h_list">
      <li><a href="contact.html">お問い合わせ・ご相談</a></li>
      <li><a href="recruit.html">採用情報</a></li>
      <li><a href="sitemap.html">サイトマップ</a></li>
    </ul>
    <div id="navi">
      <ul id="jsnavi">
        <li><a href="index.html" class="toplevel">トップページ<br />
          <span>HOME</span></a></li>
        <li><a href="menu.html" class="toplevel">メニュー・料金<br />
          <span>Menu/Price</span></a></li>
        <li><a href="works.html" class="toplevel">ギャラリー<br />
          <span>Gallery</span></a></li>
        <li><a href="staff.html" class="toplevel">スタッフのご紹介<br />
          <span>Staff</span></a>
          <ul>
          <li><a href="staff.html#staff01">スタッフ001</a></li>
          <li><a href="staff.html#staff02">スタッフ002</a></li>
          <li><a href="staff.html#staff03">スタッフ003</a></li>
          </ul>
          </li>
        <li><a href="shop.html" class="toplevel">店舗のご案内<br />
          <span>Information</span></a>
          <ul>
          <li><a href="shop.html#info01">店舗情報</a></li>
          <li><a href="shop.html#info02">代表ご挨拶</a></li>
          <li><a href="shop.html#info03">会社概要</a></li>
          <li><a href="shop.html#info04">会社沿革</a></li>
          </ul>
          </li>
        <li><strong>アクセスマップ<br />
          <span>Access</span></strong></li>
        <li><a href="link.html" class="toplevel">リンク集<br />
          <span>Link</span></a></li>
      </ul>
    </div>
  </div>
  <!--/head end-->
  <!--main start-->
  <div id="main">
    <div id="pankuzu"><a href="index.html">トップページ</a>　＞　<strong>アクセスマップ</strong></div>
    <h2>アクセスマップ<span>Access map</span></h2>
    <!--content start-->
    <div id="content">
      <p>アクセスマップのサンプルページです。<br />
      具体的なアクセス方法やgooglemapを挿入したりしてご活用ください。</p>
      <h3>アクセス方法<span>Access</span></h3>
      <div class="box_out">
        <div class="box_in">
        <p>ＪＲ見本線サンプル駅西口下車、徒歩５分。</p>
        <div class="map_base">
          <iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?q=35.301159,138.928099&amp;num=1&amp;sll=35.302938,138.932762&amp;sspn=0.049033,0.102997&amp;gl=jp&amp;hl=ja&amp;brcurrent=3,0x601977af41dbe50f:0xf35ebcd3b22f6e8d,0&amp;ie=UTF8&amp;ll=35.302938,138.932762&amp;spn=0.049033,0.102997&amp;z=13&amp;output=embed"></iframe>
          <br />
          <small><a href="http://maps.google.co.jp/maps?q=35.301159,138.928099&amp;num=1&amp;sll=35.302938,138.932762&amp;sspn=0.049033,0.102997&amp;gl=jp&amp;hl=ja&amp;brcurrent=3,0x601977af41dbe50f:0xf35ebcd3b22f6e8d,0&amp;ie=UTF8&amp;ll=35.302938,138.932762&amp;spn=0.049033,0.102997&amp;z=13&amp;source=embed">大きな地図で見る</a></small>
        </div>
        </div>
      </div>
      <div class="to_top"><a href="#base"><img src="{% static 'img/to_top.gif' %}" alt="ページトップへ戻る" /></a></div>
    </div>
    <!--/content end-->
    <!--side start-->
    <div id="side">
      <div class="side_box">
        <div class="side_btn"><a href="contact.html"><img src="{% static 'img/side_btn_df.jpg' %}" alt="お問い合わせ・ご予約はコチラ" /></a></div>
      </div>
      <h3>SITE MENU</h3>
      <div class="side_box">
        <div class="side_inbox">
          <ul>
            <li><a href="index.html">トップページ<br />
              <span>HOME</span></a></li>
            <li><a href="menu.html">メニュー・料金<br />
              <span>Menu/Price</span></a></li>
            <li><a href="works.html">ギャラリー<br />
              <span>Gallery</span></a></li>
            <li><a href="staff.html">スタッフのご紹介<br />
              <span>Staff</span></a></li>
            <li><a href="shop.html">店舗のご案内<br />
              <span>Information</span></a></li>
            <li><a href="access.html">アクセスマップ<br />
              <span>Access</span></a></li>
            <li><a href="link.html">リンク集<br />
              <span>Link</span></a></li>
          </ul>
        </div>
      </div>
      <div class="side_box">
        <h3>NEWS</h3>
        <div class="side_inbox">
          <p><a href="#">今年流行の最新メニューを追加いたしました！</a><span class="chui">NEW!</span></p>
          <p><a href="#">お得なキャンペーン実施中です！</a></p>
        </div>
        <div class="side_prbox">
<!--　削除禁止【ＰＲ枠】ここから　-->
<!--prno.130321ver2.01set016-->
Design by <a href="http://www.megapx.com/" target="_blank">Megapx</a><br />
Template by <a href="http://www.s-hoshino.com/" target="_blank">s-hoshino.com</a>
<!--　/削除禁止【ＰＲ枠】ここまで　-->
        </div>
      </div>
    </div>
    <!--/side end-->
  </div>
  <!--/main end-->
</div>
<!--/base end-->
<!--footer start-->
<div id="foot_base">
<div id="foot">
    <ul id="f_ul01">
      <li><a href="index.html">トップページ</a></li>
      <li><a href="menu.html">メニュー・料金</a></li>
      <li><a href="works.html">ギャラリー</a></li>
      <li><a href="staff.html">スタッフ紹介</a></li>
      <li><a href="shop.html">店舗案内</a></li>
      <li><a href="access.html">アクセスマップ</a></li>
      <li><a href="link.html">リンク集</a></li>
    </ul>
    <ul id="f_ul02">
      <li><a href="contact.html">お問い合わせ・ご相談</a></li>
      <li><a href="recruit.html">採用情報</a></li>
      <li><a href="sitemap.html">サイトマップ</a></li>
    </ul>
    <div id="f_logo">Sample Site</div>
    <p>〒123-4567　見本県見本町1－2－34　サンプルビル5F<br />
      TEL:01-2345-6789 / FAX:01-2345-6789</p>
  </div>
  <!--/foot end-->
  <address>
  Copyright(C) 不動産・店舗用HTMLテンプレート no.005 All Rights Reserved.
  </address>
</div>
<!--/footer end-->
</body>
</html>
