<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いの方は、【ＰＲ枠】のリンクは全て削除禁止です。
加工後の削除も禁止させていただいております。
絶対に削除しないでお使いください。
ご不明な点は、http://www.s-hoshino.com/info.html、または、
http://www.megapx.com/info.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<title>スタッフのご紹介　不動産・店舗用HTMLテンプレート no.005</title>
<meta name="Keywords" content="不動産,ショップ,店舗,キーワード01,キーワード02,キーワード03" />
<meta name="Description" content="スタッフのご紹介。不動産・店舗用HTMLテンプレート no.005。ここにページの説明文を入れます。" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jq_dim.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.core.js' %}"></script>
</head>
<body>
<!--base start-->
<div id="base">
  <!--head start-->
  <div id="head">
    <h1>不動産・店舗用HTMLテンプレート no.005</h1>
    <a href="index.html" title="不動産・店舗用HTMLテンプレート no.005　トップページへ"><img src="{% static 'img/logo.gif' %}" alt="不動産・店舗用HTMLテンプレート no.005　ロゴ" id="logo" /></a>
    <div id="info">お問い合わせ・ご相談はお気軽にどうぞ<br />
      <span>Tel.</span><strong>0120-123-456</strong></div>
    <ul id="h_list">
      <li><a href="contact.html">お問い合わせ・ご相談</a></li>
      <li><a href="recruit.html">採用情報</a></li>
      <li><a href="sitemap.html">サイトマップ</a></li>
    </ul>
    <div id="navi">
      <ul id="jsnavi">
        <li><a href="index.html" class="toplevel">トップページ<br />
          <span>HOME</span></a></li>
        <li><a href="menu.html" class="toplevel">メニュー・料金<br />
          <span>Menu/Price</span></a></li>
        <li><a href="works.html" class="toplevel">ギャラリー<br />
          <span>Gallery</span></a></li>
        <li><strong>スタッフのご紹介<br />
          <span>Staff</span></strong></li>
        <li><a href="shop.html" class="toplevel">店舗のご案内<br />
          <span>Information</span></a>
          <ul>
          <li><a href="shop.html#info01">店舗情報</a></li>
          <li><a href="shop.html#info02">代表ご挨拶</a></li>
          <li><a href="shop.html#info03">会社概要</a></li>
          <li><a href="shop.html#info04">会社沿革</a></li>
          </ul>
          </li>
        <li><a href="access.html" class="toplevel">アクセスマップ<br />
          <span>Access</span></a></li>
        <li><a href="link.html" class="toplevel">リンク集<br />
          <span>Link</span></a></li>
      </ul>
    </div>
  </div>
  <!--/head end-->
  <!--main start-->
  <div id="main">
    <div id="pankuzu"><a href="index.html">トップページ</a>　＞　<strong>スタッフのご紹介</strong></div>
    <h2>スタッフのご紹介<span>Staff</span></h2>
    <!--content start-->
    <div id="content">
        <p>スタッフ紹介用サンプルページです。<br />
          紹介ページの他、汎用ページとしてもご活用ください。</p>
         <div id="mokuji">
        <h3>スタッフ一覧</h3>
        <ul>
          <li><a href="#staff01">スタッフ001：山田花子</a></li>
          <li><a href="#staff02">スタッフ002：山田太郎</a></li>
          <li><a href="#staff03">スタッフ003：鈴木一郎</a></li>
        </ul>
      </div>
      <a name="staff01" id="staff01"></a>
      <h3>山田 花子<span>Hanako Yamada</span></h3>
      <div class="box_out">
        <div class="box_in">
          <div class="img_right"><img src="{% static 'img/sample_l.jpg' %}" alt="サンプルイメージ" /></div>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。<br />
            イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <ul class="list">
            <li>校正用サンプルリストです。任意のテキストに置き換えてお使いください。</li>
            <li>校正用サンプルリストです。任意のテキストに置き換えてお使いください。</li>
            <li>校正用サンプルリストです。任意のテキストに置き換えてお使いください。</li>
            <li>校正用サンプルリストです。任意のテキストに置き換えてお使いください。</li>
            <li>校正用サンプルリストです。任意のテキストに置き換えてお使いください。</li>
          </ul>
        </div>
      </div>
      <div class="to_top"><a href="#base"><img src="{% static 'img/to_top.gif' %}" alt="ページトップへ戻る" /></a></div>
      <a name="staff02" id="staff02"></a>
      <h3>山田 太郎<span>Taro Yamada</span></h3>
      <div class="box_out">
        <div class="box_in">
          <div class="img_left"><img src="{% static 'img/sample_l.jpg' %}" alt="サンプルイメージ" /></div>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <p>意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>

          <h4>校正用サンプル小見出し<span>H4サンプル小見出し</span></h4>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>

        </div>
      </div>
      <div class="to_top"><a href="#base"><img src="{% static 'img/to_top.gif' %}" alt="ページトップへ戻る" /></a></div>
      <a name="staff03" id="staff03"></a>
      <h3>鈴木 一郎<span>Ichiro Suzuki</span></h3>
      <div class="box_out">
        <div class="box_in">
          <div class="img_right"><img src="{% static 'img/sample_l.jpg' %}" alt="サンプルイメージ" /></div>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <p>イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
          <p>意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。任意のテキストに置き換えてお使いください。イメージ確認用のサンプル文言になります。任意のテキストに置き換えてお使いください。</p>
        </div>
      </div>
      <div class="to_top"><a href="#base"><img src="{% static 'img/to_top.gif' %}" alt="ページトップへ戻る" /></a></div>
    </div>
    <!--/content end-->
    <!--side start-->
    <div id="side">
      <div class="side_box">
        <div class="side_btn"><a href="contact.html"><img src="{% static 'img/side_btn_df.jpg' %}" alt="お問い合わせ・ご予約はコチラ" /></a></div>
      </div>
      <h3>SITE MENU</h3>
      <div class="side_box">
        <div class="side_inbox">
          <ul>
            <li><a href="index.html">トップページ<br />
              <span>HOME</span></a></li>
            <li><a href="menu.html">メニュー・料金<br />
              <span>Menu/Price</span></a></li>
            <li><a href="works.html">ギャラリー<br />
              <span>Gallery</span></a></li>
            <li><a href="staff.html">スタッフのご紹介<br />
              <span>Staff</span></a></li>
            <li><a href="shop.html">店舗のご案内<br />
              <span>Information</span></a></li>
            <li><a href="access.html">アクセスマップ<br />
              <span>Access</span></a></li>
            <li><a href="link.html">リンク集<br />
              <span>Link</span></a></li>
          </ul>
        </div>
      </div>
      <div class="side_box">
        <h3>NEWS</h3>
        <div class="side_inbox">
          <p><a href="#">今年流行の最新メニューを追加いたしました！</a><span class="chui">NEW!</span></p>
          <p><a href="#">お得なキャンペーン実施中です！</a></p>
        </div>
        <div class="side_prbox">
<!--　削除禁止【ＰＲ枠】ここから　-->
<!--prno.130321ver2.01set016-->
Design by <a href="http://www.megapx.com/" target="_blank">Megapx</a><br />
Template by <a href="http://www.s-hoshino.com/" target="_blank">s-hoshino.com</a>
<!--　/削除禁止【ＰＲ枠】ここまで　-->
        </div>
      </div>
    </div>
    <!--/side end-->
  </div>
  <!--/main end-->
</div>
<!--/base end-->
<!--footer start-->
<div id="foot_base">
<div id="foot">
    <ul id="f_ul01">
      <li><a href="index.html">トップページ</a></li>
      <li><a href="menu.html">メニュー・料金</a></li>
      <li><a href="works.html">ギャラリー</a></li>
      <li><a href="staff.html">スタッフ紹介</a></li>
      <li><a href="shop.html">店舗案内</a></li>
      <li><a href="access.html">アクセスマップ</a></li>
      <li><a href="link.html">リンク集</a></li>
    </ul>
    <ul id="f_ul02">
      <li><a href="contact.html">お問い合わせ・ご相談</a></li>
      <li><a href="recruit.html">採用情報</a></li>
      <li><a href="sitemap.html">サイトマップ</a></li>
    </ul>
    <div id="f_logo">Sample Site</div>
    <p>〒123-4567　見本県見本町1－2－34　サンプルビル5F<br />
      TEL:01-2345-6789 / FAX:01-2345-6789</p>
  </div>
  <!--/foot end-->
  <address>
  Copyright(C) 不動産・店舗用HTMLテンプレート no.005 All Rights Reserved.
  </address>
</div>
<!--/footer end-->
</body>
</html>
